fuzzywuzzy
pillow
PyGetWindow
PyMsgBox
typing_extensions
urllib3
sys
vosk
pyaudio
json
threading
numpy
confiparser
tkinter
settingsUI
tkinter
pyautogui
subprocess
platform
pygetwindow
time
playsound
fastpunct